.fa-close {
  float: right;
  line-height: inherit;
  vertical-align: middle;
}

.dropdown-menu {
  //If min-width gets too wide, and the label for "login" next to the
  //language button is too small, the x symbols won't be visible anymore
  //min-width: 14rem;
}
