<div ngbDropdown class="navbar-nav" *ngIf="moreThanOneLanguage">
  <a href="#" id="dropdownLang" role="button" class="nav-link" (click)="$event.preventDefault()" data-toggle="dropdown" ngbDropdownToggle>{{ 'lang.lang' | translate }}</a>
  <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownLang">
    <li class="dropdown-item" #langSelect *ngFor="let lang of translate.getLangs()"
            [class.active]="lang === translate.currentLang">
      <span (click)="translate.use(lang)">{{ 'lang.'+lang | translate }}</span>
      <span (click)="this.remove(lang)" class="fa fa-close" ></span>
    </li>
  </ul>
</div>
